/**
 * SOAT theme for reveal.js. This is an extension for existing themes (works better with 'white' theme).
 *
 * By Michaël Fery, http://mfery.com
 */


/*********************************************
* GLOBAL STYLES
*********************************************/

@font-face {
  font-family: Barlow;
  src: url('soat/fonts/Barlow-Regular.ttf');
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal p,
.reveal ul
{
  font-family: Barlow;
}

.reveal {
  --main-bg-color: white;
  --main-accent-color: #00e6a7;
  --main-accent-dark-color: #00AD7D;
  --main-dark-color: #110E28;
  --secondary-color: #5B9BD5;

  --main-bg-color: white;
  --main-title-color: var(--main-accent-color);
  --main-subtitle-color: white;
  --main-font-color: var(--main-dark-color);
  --main-slide-title-color: var(--main-accent-color);
  --main-progress-color: var(--main-accent-color);
  --chapter-bg-color: var(--main-dark-color);
  --chapter-title-color: var(--main-accent-color);
  --chapter-content-color: white;
}

/*********************************************
* HEADER STYLES
*********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}
 
 /*********************************************
  * TITLE SLIDE STYLES
  *********************************************/

.reveal .slides .title {
  padding: 0 40vh 0 0;
  text-align: left !important;
}

.reveal .slides .title h1 {
  color: var(--main-title-color);
}

.reveal .slides .title h2,
.reveal .slides .title h3,
.reveal .slides .title h4,
.reveal .slides .title h5,
.reveal .slides .title h6 {
  color: var(--main-subtitle-color);
}
 
 .reveal .slides .title h1 {
   text-transform: uppercase;
 }

 .reveal .slides .title ul li {
   color: var(--main-subtitle-color);
 }

  /*********************************************
  * MAIN SLIDE STYLES
  *********************************************/

  .reveal .slides h1,
  .reveal .slides h2,
  .reveal .slides h3,
  .reveal .slides h4,
  .reveal .slides h5
  {
    color: var(--main-slide-title-color);
  }
 
 .reveal .slides ul li ul {
   font-size: 60%;
 }
 
 .reveal .slides ul li ul li {
   color: var(--main-slide-title-color);
   margin: 0 0 -1.2vh 0 !important;
 }

 /*********************************************
  * FOOTER STYLES
  *********************************************/

.reveal footer p a {
  color: white;
}

.reveal .slides {
  padding: 0 0 10vh 0;
}

html.title-page div.slide-background-content {
  /* background-image: url("/soat/title-page-bg.png") !important; */
  /* background-size: cover; */
  /* background-position: bottom left !important; */
}
html.title-page .title h1,
html.title-page .title h2 {
  /* max-width: 70%; */
}

html.chapter-page h1,
html.chapter-page h2 {
  color: var(--main-subtitle-color);
  /* text-align: left !important; */
}

html div.slide-background-content{
  /* background-image: url("/soat/main-page-bg.png") !important; */
  /* background-size: contain;
  background-position: bottom right !important; */
}

.reveal .progress {
  color: var(--main-progress-color) !important;
}

.reveal .slide-menu-button .fa,
.reveal .chalkboard-button .fa{
  color: var(--main-title-color)
}

.reveal .slide-menu-button,
.reveal .chalkboard-button {
  display: none !important;
}

.reveal footer {
  display: none !important;
}

/* html.title-page div.slide-background-content,
.slide-background {
    background-color: white !important;
    background-image: none !important;
    -webkit-print-color-adjust: exact; 
} */



.reveal .slides .chapter-page h2,
.reveal .slides .chapter-page h3,
.reveal .slides .chapter-page h4,
.reveal .slides .chapter-page h5,
.reveal .slides .chapter-page h6 {
  color: var(--chapter-title-color) !important;
}

.reveal .slides .chapter-page {
  color: var(--chapter-content-color);
}

  div.present div.slide-background-content {
    background-color: var(--main-bg-color);
    background-image: url("/soat/LOGO_COULEUR_BASELINE.png");
    background-size: cover;
    background-size: 10%;
    background-position: bottom 10px right 10px;
  }

  div.title-page div.slide-background-content {
    background-image: url("/soat/title-page-bg.png");
    background-size: cover;
    background-position: right bottom;
  }

  div.chapter-page div.slide-background-content {
    background-color: var(--chapter-bg-color);
    background-image: url("/soat/LOGO_COULEUR_BLANC_BASELINE.png");
    background-size: cover;
    background-size: 10%;
    background-position: bottom 10px right 10px;
  }

  div.chapter-page-2-columns div.slide-background-content {
    background: linear-gradient(90deg, var(--main-dark-color) 50%, white 50%);
  }
  section.chapter-page-2-columns {
    width: 50% !important;
  }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  /* .slide-background {
    -webkit-print-color-adjust: exact; 
  }

  .reveal {
    width: auto !important;
    height: auto !important;
    overflow: hidden !important;
  }
  .reveal .slides {
    position: static;
    width: 100% !important;
    height: auto !important;
    zoom: 1 !important;
  
    left: auto;
    top: auto;
    margin: 0 !important;
    padding: 0 !important;
  
    overflow: visible;
    display: block;
  
    perspective: none;
    perspective-origin: 50% 50%;
  }
  
  .reveal .slides .pdf-page {
    position: relative;
    overflow: hidden;
    z-index: 1;
  
    page-break-after: always;
  }

  .reveal .slide-background {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: auto !important;
  } */
}